body {
  height: 100vh;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

body,
textarea,
button {
  font-family: Helvetica, Arial, sans-serif;
}
textarea {
  width: 300px;
  height: 100px;
  resize: none;
  display: block;
  padding: 10px;
  margin: 10px auto;
}
button {
  display: block;
  margin: auto;
}
h2,
p {
  text-align: center;
}

.input {
  background-color: white;
  padding: 20px;
  margin: 20px;
}
